ArduinoSetup.json
[{"id":"73a755c9.e399bc","type":"comment","z":"713e8f81.5b7f3","name":"Arduino Setup Program  ________________________________________________________________________________________","info":"","x":480,"y":2320,"wires":[]},{"id":"ccef2e1b.dc6fa","type":"inject","z":"713e8f81.5b7f3","name":"Run","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":2380,"wires":[["c235177.59752e8"]]},{"id":"c235177.59752e8","type":"change","z":"713e8f81.5b7f3","name":"Set Arduino Device name here","rules":[{"t":"set","p":"ArduinoName","pt":"flow","to":"garage","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"ArduinoName","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":2380,"wires":[["2b0cb804.61dde8"]]},{"id":"67037021.b28c6","type":"inject","z":"713e8f81.5b7f3","name":"Run","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":2530,"wires":[["dec23d01.dde8e"]]},{"id":"dec23d01.dde8e","type":"function","z":"713e8f81.5b7f3","name":"Activate WebPage","func":"device = flow.get(\"ArduinoName\")\nmsg.topic = \"cmnd/\"+device+\"/STATUS\"\nmsg.payload = \"9\"\nnode.status({text:msg.topic});\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":2530,"wires":[["f2a1f5ef.edbbf8"]]},{"id":"119ce373.5f6e6d","type":"inject","z":"713e8f81.5b7f3","name":"Run","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":2480,"wires":[["e452beb7.d45b5"]]},{"id":"e452beb7.d45b5","type":"function","z":"713e8f81.5b7f3","name":"Keep Arduino Active","func":"device = flow.get(\"ArduinoName\")\nmsg.topic = \"cmnd/\"+device+\"/STATUS\"\nmsg.payload = \"10\"\nnode.status({text:msg.topic + \":\" + msg.payload});\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":2480,"wires":[["f2a1f5ef.edbbf8"]]},{"id":"f2a1f5ef.edbbf8","type":"mqtt out","z":"713e8f81.5b7f3","name":"","topic":"","qos":"","retain":"","broker":"8702fe50.4fcc4","x":750,"y":2510,"wires":[]},{"id":"e42a5315.0c097","type":"mqtt in","z":"713e8f81.5b7f3","name":"Arduino Status Info","topic":"stat/+/STATUS5","qos":"2","datatype":"auto","broker":"8702fe50.4fcc4","x":180,"y":2840,"wires":[["71895171.e7a7f"]]},{"id":"71895171.e7a7f","type":"function","z":"713e8f81.5b7f3","name":"Filter","func":"device = flow.get(\"ArduinoName\")\n//msg.topic = \"cmnd/\"+device+\"/STATUS\"\n//msg.payload = \"9\"\n\ndat = msg.topic\ndev = dat.replace(\"stat/\",'')\ndevInf = dev.replace(\"/STATUS5\",'')\nnode.status({text:devInf+\":\"+device});\nif (devInf == device){\n return msg;   \n}\n\n\n\n","outputs":1,"noerr":0,"x":340,"y":2840,"wires":[["48f9b853.fda168"]]},{"id":"b01d6fc7.e5655","type":"inject","z":"713e8f81.5b7f3","name":"Run","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":2580,"wires":[["c9368bf1.f7cd48"]]},{"id":"c9368bf1.f7cd48","type":"function","z":"713e8f81.5b7f3","name":"Get Device Ip","func":"device = flow.get(\"ArduinoName\")\nmsg.topic = \"cmnd/\"+device+\"/STATUS\"\nmsg.payload = \"5\"\nnode.status({text:msg.topic});\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":2580,"wires":[["f2a1f5ef.edbbf8"]]},{"id":"48f9b853.fda168","type":"json","z":"713e8f81.5b7f3","name":"","property":"payload","action":"","pretty":false,"x":460,"y":2840,"wires":[["99b300d9.c8875"]]},{"id":"99b300d9.c8875","type":"function","z":"713e8f81.5b7f3","name":"Device IP","func":"ip = msg.payload.StatusNET.IPAddress\nnode.status({text:ip});\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":2840,"wires":[[]]},{"id":"478d1d3.47ec4e4","type":"mqtt in","z":"713e8f81.5b7f3","name":"Arduino State","topic":"tele/+/STATE","qos":"2","datatype":"auto","broker":"8702fe50.4fcc4","x":160,"y":2890,"wires":[["980c2725.9c91b8"]]},{"id":"980c2725.9c91b8","type":"function","z":"713e8f81.5b7f3","name":"Filter","func":"device = flow.get(\"ArduinoName\")\n//msg.topic = \"cmnd/\"+device+\"/STATUS\"\n//msg.payload = \"9\"\n\ndat = msg.topic\ndev = dat.replace(\"tele/\",'')\ndevInf = dev.replace(\"/STATE\",'')\nnode.status({text:devInf+\":\"+device});\nif (devInf == device){\n return msg;   \n}\n\n\n\n","outputs":1,"noerr":0,"x":340,"y":2890,"wires":[["cf327aa6.be5218"]]},{"id":"cf327aa6.be5218","type":"json","z":"713e8f81.5b7f3","name":"","property":"payload","action":"","pretty":false,"x":460,"y":2890,"wires":[["bce0ca27.279188"]]},{"id":"2866bc32.34deb4","type":"inject","z":"713e8f81.5b7f3","name":"Run","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":2430,"wires":[["47d43263.3048ec"]]},{"id":"47d43263.3048ec","type":"function","z":"713e8f81.5b7f3","name":"SET DEVICE NAME - ONLY FIRST TIME","func":"// This can be used for first time setup of Device name if the topic is as below\ndevice = flow.get(\"ArduinoName\")\nmsg.topic = \"cmnd//STATUS\"\nmsg.payload = device\nnode.status({text:msg.topic + \":\" + msg.payload});\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":2430,"wires":[["f2a1f5ef.edbbf8"]]},{"id":"bce0ca27.279188","type":"function","z":"713e8f81.5b7f3","name":"WebActive","func":"ip = msg.payload.WebActive\nnode.status({text:\"WebActive:\"+ip});\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":2890,"wires":[[]]},{"id":"1d3e03a9.d4fd2c","type":"inject","z":"713e8f81.5b7f3","name":"Relay NUMBER","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":2630,"wires":[["1f5753a.03543ac"]]},{"id":"1f5753a.03543ac","type":"function","z":"713e8f81.5b7f3","name":"Toggle Relay","func":"device = flow.get(\"ArduinoName\")\nmsg.topic = \"cmnd/\"+device+\"/POWER\"+msg.payload\nmsg.payload = \"2\"\nnode.status({text:msg.topic+\":2\"});\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":2630,"wires":[["f2a1f5ef.edbbf8"]]},{"id":"f4b346a.52aefb8","type":"mqtt in","z":"713e8f81.5b7f3","name":"Arduino State","topic":"stat/+/+","qos":"2","datatype":"auto","broker":"8702fe50.4fcc4","x":160,"y":2940,"wires":[["d3940d1e.006e3","6202f946.fbe6e8","2ed05f9d.f80dd"]]},{"id":"d3940d1e.006e3","type":"function","z":"713e8f81.5b7f3","name":"Relay Filter","func":"device = flow.get(\"ArduinoName\")\n//msg.topic = \"cmnd/\"+device+\"/STATUS\"\n//msg.payload = \"9\"\n\ndat = msg.topic\ndev = dat.replace(\"stat/\",\"\")\ndevInf = dev.replace(\"/POWER\",\"\")\ninfo = devInf.replace(device,\"\")\ninfo1 = \"/POWER\"+info\ndeviceSnd = dev.replace(info1,\"\")\n\n\n\n\nnode.status({text:\"Relay\"+info+\":\"+msg.payload});     \n\nif (deviceSnd == device){\n msg.payload = \"Relay\"+info+\":\"+msg.payload  \n return msg;   \n}\n    \n    \n\n\n\n\n\n","outputs":1,"noerr":0,"x":360,"y":2940,"wires":[["84b515a4.9a4458"]]},{"id":"84b515a4.9a4458","type":"function","z":"713e8f81.5b7f3","name":"Relay Responce","func":"node.status({text:msg.payload});\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":2940,"wires":[[]]},{"id":"6202f946.fbe6e8","type":"function","z":"713e8f81.5b7f3","name":"SWITCH Filter","func":"device = flow.get(\"ArduinoName\")\n//msg.topic = \"cmnd/\"+device+\"/STATUS\"\n//msg.payload = \"9\"\n\ndat = msg.topic\ndev = dat.replace(\"stat/\",\"\")\ndevInf = dev.replace(\"/SWITCH\",\"\")\ninfo = devInf.replace(device,\"\")\ninfo1 = \"/SWITCH\"+info\ndeviceSnd = dev.replace(info1,\"\")\n\n\n\n\nnode.status({text:\"Switch\"+info+\":\"+msg.payload});     \n\nif (deviceSnd == device){\n msg.payload = \"Switch\"+info+\":\"+msg.payload  \n return msg;   \n}\n    \n    \n\n\n\n\n\n","outputs":1,"noerr":0,"x":370,"y":2990,"wires":[["851beb7d.284988"]]},{"id":"851beb7d.284988","type":"function","z":"713e8f81.5b7f3","name":"Switch Responce","func":"node.status({text:msg.payload});\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":2990,"wires":[[]]},{"id":"62f9f0b9.270b2","type":"comment","z":"713e8f81.5b7f3","name":"Arduino Feedback ______________________________________________________","info":"","x":390,"y":2790,"wires":[]},{"id":"2ed05f9d.f80dd","type":"function","z":"713e8f81.5b7f3","name":"LINK Filter","func":"device = flow.get(\"ArduinoName\")\n//msg.topic = \"cmnd/\"+device+\"/STATUS\"\n//msg.payload = \"9\"\n\ndat = msg.topic\ndev = dat.replace(\"stat/\",\"\")\ndevInf = dev.replace(\"/LINK\",\"\")\ninfo = devInf.replace(device,\"\")\ninfo1 = \"/SWITCH\"+info\ndeviceSnd = dev.replace(info1,\"\")\n\n\n\n\nnode.status({text:\"Link\"+info+\":\"+msg.payload});     \n\nif (deviceSnd == device){\n msg.payload = \"Link\"+info+\":\"+msg.payload  \n return msg;   \n}\n    \n    \n\n\n\n\n\n","outputs":1,"noerr":0,"x":360,"y":3040,"wires":[["44809057.b73c4"]]},{"id":"44809057.b73c4","type":"function","z":"713e8f81.5b7f3","name":"Link Responce","func":"node.status({text:msg.payload});\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":3040,"wires":[[]]},{"id":"79428272.5ba51c","type":"inject","z":"713e8f81.5b7f3","name":"","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":2730,"wires":[["6cd06f6.a527b9"]]},{"id":"6cd06f6.a527b9","type":"change","z":"713e8f81.5b7f3","name":"Set Link Info","rules":[{"t":"set","p":"switchNumber","pt":"msg","to":"1","tot":"str"},{"t":"set","p":"relayNumber","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":2730,"wires":[["e8626f20.cbf46"]]},{"id":"e8626f20.cbf46","type":"function","z":"713e8f81.5b7f3","name":"Link Switch to Relay","func":"device = flow.get(\"ArduinoName\")\nswitchNumber = (msg.switchNumber*1)+100\nrelayNumber = msg.relayNumber\n\nmsg.topic = \"cmnd/\"+device+\"/relayLink/\"+switchNumber \nmsg.payload = relayNumber\nnode.status({text:\"Switch\"+msg.switchNumber+\" Linked to Relay \"+msg.relayNumber});\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":2730,"wires":[["b674a698.f8fea8"]]},{"id":"bf6fa98b.b2d118","type":"comment","z":"713e8f81.5b7f3","name":"Set Arduino link from Input pin to Relay - Link to MQTT to Activate","info":"Switch Number is the Input pin Number \n so if the Input pin number is 10 then the\n msg.switchNumber = 10\n msg.relaynNumber = 1 (for relay 1)","x":330,"y":2690,"wires":[]},{"id":"b674a698.f8fea8","type":"debug","z":"713e8f81.5b7f3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":810,"y":2690,"wires":[]},{"id":"7591c981.3fbcb8","type":"mqtt out","z":"713e8f81.5b7f3","name":"","topic":"","qos":"","retain":"","broker":"8702fe50.4fcc4","x":790,"y":2730,"wires":[]},{"id":"2b0cb804.61dde8","type":"function","z":"713e8f81.5b7f3","name":"Current Device","func":"ip = msg.payload\nnode.status({text:\"Current Device:\"+ip});\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":2380,"wires":[[]]},{"id":"8702fe50.4fcc4","type":"mqtt-broker","z":"","name":"Local MQTT","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]